.NERDTreeBookmarks
.Xauthority
.Xdefaults
.Xresources
.bash_history
.cabal/
.cache/
.cargo
.cfg/
.config/GeoGebra
.config/QtProject/
.config/REAPER/
.config/ardour6/
.config/calcurse/
.config/cava
.config/cef_user_data
.config/coc
.config/configstore/
.config/dconf/
.config/discord
.config/enchant/
.config/gtk-2.0/
.config/htop/
.config/inkscape
.config/kitty
.config/menus/
.config/mimeapps.list
.config/msmtp/
.config/mutt/
.config/neofetch
.config/nix
.config/pavucontrol.ini
.config/pulse
.config/qutebrowser
.config/ranger
.config/rncbc.org/
.config/spicetify/
.config/spotify-tui
.config/spotify/
.config/spotifyd
.config/syncthing
.config/transmission-daemon/
.config/user-dirs.dirs
.config/vifm
.config/vimb/
.cshrc
.cvsrc
.dbus
.fehbg
.ghc/
.gitconfig
.gnome/
.gnupg
.hackerrank/
.helm-synth/
.helm/
.hoogle
.ipynb_checkpoints
.jackdrc
.java/
.jupyter
.lesshst
.lmmsrc.xml
.local
.mailrc
.mbsyncrc
.mcabber/
.minecraft/
.mozilla/
.muttrc
.nix-channels
.nix-defexpr
.nix-profile
.node_repl_history
.notmuch-config
.npm/
.npmrc
.password-store/
.pki
.pm2/
.psql_history
.pulse-cookie
.pylint.d/
.python_history
.sndio
.src/
.ssh/
.stack
.steam
.steampath
.steampid
.steapath
.surf/
.swt/
.sync
.texlive
.thunderbird/
.todos.json
.tuxguitar-1.5.4/
.vim/
.viminf*
.viminfo
.w3m/
.wget-hsts
.xmonad
.xmonad/*
.xsession-errors
.yarnrc
bak
bin/
dl/
doc/
dots
dwm/
go/
hsk/
img/
mbox
node_modules/
package-lock.json
prj/
site/
st/
steam.desktop
surf/
tilde
tmp
tones/
uni
wiki/
