.Xauthority
.Xdefaults
.bash_history
.cabal/
.cache/
.cargo
.cfg/
.config/configstore/
.config/dconf/
.config/enchant/
.config/htop/
.config/mimeapps.list
.config/msmtp/
.config/mutt/
.config/qutebrowser
.config/vimb/
.cshrc
.cvsrc
.dbus
.ghc/
.gitconfig
.gnupg
.hackerrank/
.hoogle
.lesshst
.local
.mailrc
.mbsyncrc
.mozilla/
.muttrc
.nix-channels
.nix-defexpr
.nix-profile
.node_repl_history
.notmuch-config
.npm/
.npmrc
.password-store/
.pki
.pm2/
.psql_history
.python_history
.sndio
.src/
.ssh/
.stack
.surf/
.sync
.texlive
.thunderbird/
.todos.json
.vim/
.viminfo
.wget-hsts
.xmonad
.xmonad/*
.xsession-errors
.yarnrc
bak
bin/
dl/
doc/
dots
dwm/
go/
hsk/
img/
mbox
node_modules/
package-lock.json
prj/
site/
st/
surf/
tilde
tmp
wiki/
