.NERDTreeBookmarks
.config/spotify-tui
.config/spotifyd
.Xauthority
.Xdefaults
.bash_history
.cabal/
.cache/
.cargo
.cfg/
.config/GeoGebra
.config/cava
.config/cef_user_data
.config/coc
.config/configstore/
.config/dconf/
.config/discord
.config/enchant/
.config/htop/
.config/inkscape
.config/kitty
.config/mimeapps.list
.config/msmtp/
.config/mutt/
.config/neofetch
.config/nix
.config/pulse
.config/qutebrowser
.config/ranger
.config/syncthing
.config/user-dirs.dirs
.config/vifm
.config/vimb/
.cshrc
.cvsrc
.dbus
.fehbg
.ghc/
.gitconfig
.gnupg
.hackerrank/
.hoogle
.ipynb_checkpoints
.jupyter
.lesshst
.local
.mailrc
.mbsyncrc
.mozilla/
.muttrc
.nix-channels
.nix-defexpr
.nix-profile
.node_repl_history
.notmuch-config
.npm/
.npmrc
.password-store/
.pki
.pm2/
.psql_history
.pulse-cookie
.python_history
.sndio
.src/
.ssh/
.stack
.steam
.steampath
.steampid
.steapath
.surf/
.sync
.texlive
.thunderbird/
.todos.json
.vim/
.viminf*
.viminfo
.wget-hsts
.xmonad
.xmonad/*
.xsession-errors
.yarnrc
bak
bin/
dl/
doc/
dots
dwm/
go/
hsk/
img/
mbox
node_modules/
package-lock.json
prj/
site/
st/
steam.desktop
surf/
tilde
tmp
uni
wiki/
